.s-hero{
    position: relative;
    .slide-principal{
        width: 100%;
        height: 73.6rem;
        .swiper-wrapper{
            .swiper-slide{
                padding-top: 20.7rem;
              
                &.slide-01{
                    background: url("../img/bg-banner.jpg") no-repeat center center;
                     background-size: cover;
                }
                &.slide-02{
                    background: url("../img/bg-banner-02.jpg") no-repeat center center;
                     background-size: cover;
                }
                 &.slide-03{
                    background: url("../img/bg-banner-03.jpg") no-repeat center center;
                     background-size: cover;
                    .left-content{
                        max-width: 62.6rem;
                    }
                }
                .container{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                .left-content{
                      padding-left: 22.3rem;
                      width: 100%;
                      max-width: 56.2rem;
                      h2{
                        font-weight: bold;
                        font-size: 6.4rem;
                        line-height: 110.2%;
                        color: #ffffff;
                        margin-bottom: 1.6rem;
            
                      }
                      p{
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        letter-spacing: -0.005rem;
                        color: #ffffff;
                        margin-bottom: 3.2rem;
                      }
                      .btn{
                        padding: 0px 3.8rem;
                        line-height: 5.2rem;
                      }
                }
                .rigth-content{
                    width: 100%;
                    max-width: 29.2rem;
                    margin-top: -34px;
                    .logo{
                        width: 100%;
                        max-width: 28rem;
                        height: 18rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8.6rem;
                    }
                    .video{
                        width: 100%;
                        max-width: 28rem;
                        
                        span{
                            display: block;
                            text-align: right;
                            font-weight: 600;
                            font-size: 1.8rem;
                            line-height: 1.9rem;
                            text-transform: uppercase;
                            color: #ffffff;
                            margin-bottom: 1.6rem;
                        }
                        .btn-video{
                            position: relative;
                            width: 100%;
                            height: 15.8rem;
                            border-radius: 4px;
                            overflow: hidden;
                              display: flex;
                                align-items: center;
                                justify-content: center;
                            .thumb{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: opacity .3s;
                                &:hover{
                                     &.default{
                                    opacity: 0;
                                }
                                &.hover{
                                    opacity: 1;
                                }
                                }
                                &.default{
                                    opacity: 1;
                                }
                                &.hover{
                                    opacity: 0;
                                }
                            }
                            .icon{
                                position: relative;
                                z-index: 1;
                                width: 5.1rem;
                                height: 5.1rem;
                                border-radius: 50%;
                                background: linear-gradient(136.72deg,rgba(7,7,10,0.86));
                                backdrop-filter: blur(3px);
                                 display: flex;
                                align-items: center;
                                justify-content: center;
                              
                            }
                        }
                    }
                }
            }
        }
    }
    .slide-thumbnail{
        position: absolute;
        top: 24.1rem;
        left: 8%;
        z-index: 2;
        height: 32rem;
        .swiper-wrapper{
            .swiper-slide{
                width: 4.8rem;
                height: 4.8rem;
                cursor: pointer;
                opacity: 0.4;
                filter: grayscale(100%);
                &.disabled{
                    pointer-events: none;
                }
                &-thumb-active{
                    opacity: 1;
                    filter: grayscale(0%);
                }
            }
        }
    }
}

.s-game{
    padding-top: 8.3rem;
    padding-bottom: 11rem;
    .top{ 
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 7.8rem;
        .left-top{
            width: 100%;
             max-width: 58.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            max-width: 39.9rem;
            span{
                  font-weight: 600;
                font-size: 1.5rem;
                line-height: 22px;
                display: block;
                color: #8f9199;
                margin-top: 11px;
            }
            h2{
               font-weight: bold;
               font-size: 3.2rem;
               line-height: 110.2%;
               color: #ffffff;
               width: 100%;
               max-width: 17.5rem;
            }
        }
        .rigth-top{
            width: 100%;
            max-width: 75.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                li{
                    &:not(:first-child){
                        margin-left: 2.4rem;
                    }
                    a{
                      img{
                          opacity: 0.5;
                      }
                      &.active{
                        img{
                            opacity: 1;
                        }
                      }
                    }
                }
            }
            .btn-all-games{
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 24px;
                color: $primary-default;
                img{
                    margin-right: 10px;
                }
            }
        }
    }
    .tab-games-content{
        .tab-pane-games{
            display: none;
            &.active{
                display: grid;
                grid-template-columns:repeat(4,1fr);
                grid-gap: 47px 32px;
                animation: fadeUp .4s forwards;
            }

            .card-all-game{
                width: 100%;
                max-width: 28rem;
                height: 38.4rem;
                border: 1.5px solid #212248;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span{
                    display: flex;
                    align-items: center;
                    margin-top: 3.4rem;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 24px;
                    color: white;
                    img{
                        margin-right: 1.3rem;
                    }
                }
            }
        }
    }
}

.s-download{
    width: 100%;
    height: 850px;
    background: url('../img/bg-section-download.png') no-repeat center center ;
    overflow: hidden;
    background-size: cover;
    .container{
        position: relative;
    }
    .text-left{
        width: 100%;
        max-width: 29.9rem;
        padding-top: 13.2rem;
        .logo{
            margin-bottom: 3rem;
        }
        h2{
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 110.2%;
            color: #ffffff;
            margin-bottom: 3rem;
        }
        ul{
            margin-bottom: 4.2rem;
            li{
                display: flex;
                align-items: center;
                &:not(:last-child){
                    margin-bottom: 2.4rem;
                }
                .icon{
                    width: 1.8rem;
                    height: 1.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1.6rem;
                }
                p{
                     font-size: 1.8rem;
                     line-height: 178.2%;
                     color: #828792
                }
            }
        }
        .btn{
            padding: 0px 40px;
            line-height: 5.2rem;
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 4.9rem;
        }
        .app{
            display: flex;
            align-items: center;
            p{
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: #e5e5e5;
                max-width: 19rem;
                margin-left: 1.8rem;
                a{
                    text-decoration: underline;
                    transition: color .3s;
                    &:hover{
                        color: $primary-light
                    }
                }
            }
        }
    }
    .image{
        position: absolute;
        top: 0;
        right: -275px;
        width: 100%;
        max-width: 106.6rem;
        height: 61rem;
        .img-lg{
            position: absolute;
            top: 9.9rem;
            left: 0;
            animation: float 8s ease-in-out infinite;
        }
        .img-sm{
            position: absolute;
            right: 5.3rem;
            bottom: -28px;
            animation: float 4s ease-in-out infinite;
        }
    }
}
.show-modal{
  .modal{
      opacity: 1;
    pointer-events: all;
    .box{
        transform: translateY(0px);
    }
  }
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2023;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0,0.5);
    }
    .box{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 69.6rem;
        height: 60rem;
        background:url('../img/bg-modal.png') no-repeat #020203 top left ;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(50px);
        transition: transform .3s;
        .logo{
            margin-bottom: 4rem;
            width: 16.6rem;
        }
        .close{
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
        }

        form{
            width: 100%;
            max-width: 42.6rem;
            .form-group{
                margin-bottom: 1.6rem;
                &:last-child{
                    margin-bottom: 2.4rem;
                }
                input[type="text"],
                input[type="password"]{
                    width: 100%;
                    height: 4.8rem;
                    border-radius: 4px;
                    border: none;
                    padding: 0px 1.6rem;
                    font-size: 1.5rem;
                    line-height: 22px;
                    color: #363842;
                    &::placeholder{
                        opacity: 0.6;
                    }
                }

                button{
                    width: 100%;
                    justify-content:    center ;
                    line-height: 5.2rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }
        }
        .others-conect{
            margin-bottom: 35px;
            p{
                text-align: center;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: #ffffff;
                margin-bottom: 1.6rem;
            }
            ul{
                display: flex;
                li{
                    &:not(:first-child){
                        margin-left: 1.6rem;
                    }
                    button{
                        width: 4.8rem;
                        height: 4.8rem;
                        background-color: #ffffff;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .message-user{
            p{
                text-align: center;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 24px;
            color: #ffffff;
            margin-bottom: 1.6rem;
            a{
                display: inline-block;
            }
            }
            a{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line:underline;
                color: #00aeff;
                text-align: center;
                display: block;
                transition: color .3s;
                &:hover{
                    color: #ffffff;
                }
            }
        }

    }

}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
         transform: translateY(0);
        
    }
}