// Primary Palette
$primary-darkest:#002550;
$primary-dark:#025A9A;
$primary-default:#00AEFF;
$primary-light:#61CDFF;

//Primary Palette
$neutral-100:#020203;
$neutral-200:#0B0D12;
$neutral-300:#15171B;
$neutral-400:#1F2025;
$neutral-500:#26272E;
$neutral-600:#2D2F38;
$neutral-700:#363842;